*/acctonlkm/**
!*/acctonlkm/**/
!*/acctonlkm/Makefile

*/cmnlib/**
!*/cmnlib/**/
!*/cmnlib/configure.ac
!*/cmnlib/start_conf
!*/cmnlib/**/Makefile.am

*/user/**
!*/user/**/
!*/user/commdef.mk
!*/user/configure.ac
!*/user/start_conf
!*/user/**/Makefile.am
!*/user/protocol/quagga/start_conf
!*/user/thirdpty/xml/build.sh
!*/user/driver/devdrv/onlp/onlp-accton/*

*/prom/**
!*/prom/**/
!*/prom/configure.ac
!*/prom/start_conf
!*/prom/**/Makefile.am

*/fs/aos_files.tgz
*/fs/initrd.gz
*/fs/rootfs_tmp/
*/fs/utils/
!*/fs/utils/*.c
!*/fs/utils/Makefile

# not ready
*/fs/rootfs/dev/
*/fs/rootfs/etc/aos_change_startup_installer.sh
*/fs/rootfs/etc/aos_get_installer_ver.sh
*/fs/rootfs/etc/aos_util_functions
*/fs/rootfs/etc/aos_verify_installer.sh
*/fs/rootfs/etc/runtime_ver
*/fs/rootfs/lib/modules/
*/fs/rootfs/usr/bin/*_proc
*/fs/rootfs/usr/lib/
!*/fs/rootfs/usr/lib/libbdpv.so*
!*/fs/rootfs/usr/lib/libexpat.so*
!*/fs/rootfs/usr/lib/libkmod.so*
!*/fs/rootfs/usr/lib/libreadline.so*
*/fs/rootfs/usr/map/
*/fs/rootfs/usr/share/aos/
*/fs/rootfs/usr/sbin/*_proc
*/fs/rootfs/usr/webroot/

*/initramfs/initrd.cpio.gz
*/initramfs/initrd_base.cpio.gz
*/initramfs/rootfs_tmp/

*/runtime/
!*/runtime/onl_rootfs.tar.xz
!*/runtime/runtime_template.its
!*/runtime/squeeze_rootfs.tar.xz
!*/runtime/wheezy_rootfs.tar.xz

*/linux*/

*/sdk_*/build
