initrd.gz
rootfs_tmp
rootfs/lib
rootfs/usr/lib
rootfs/usr/bin
rootfs/usr/sbin
rootfs/usr/webroot
rootfs/usr/share/aos
rootfs/usr/map
rootfs/etc/aos_change_startup_installer.sh
rootfs/etc/aos_get_installer_ver.sh
rootfs/etc/aos_util_functions
rootfs/etc/aos_verify_installer.sh
rootfs/etc/runtime_ver
rootfs/etc/init.d/aos_mode_func
rootfs/etc/init.d/aos_process_fun
utils/fmapgen
utils/fmapgen.o
aos_files.tgz
